/* MAIN CREDIT CARD CONTAINER */

.credit-card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
  width: 95%;
  max-width: 250px;
  position: relative;
  transition: all 0.4s ease;
  box-shadow: 0 2px 4px 0 #cfd7df;
  min-height: 60px;
  padding: 13px;
  background: #1a1b1c;
  color: #efefef;
}

.credit-card.selectable:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*  NUMBER FORMATTING */

.credit-card-last4 {
  font-family: "PT Mono", Helvetica, sans-serif;
  font-size: 24px;
}

.credit-card-last4:before {
  content: "**** **** **** ";
  color: #4f4d4d;
  font-size: 20px;
}

.credit-card-expiry {
  font-family: "PT Mono", Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  bottom: 8px;
  left: 15px;
}

.credit-card::after {
  content: " ";
  position: absolute;
  bottom: 10px;
  right: 15px;
}
